<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
    <img src="../../assets/media/default_user.png" width="75px">
    <h2 style="color: white;">USERNAME</h2>
    <hr>
    <a href="#"><img src="../../assets/media/home_icon.png" width="20px" style="padding-bottom: 8px;"> Home</a>
    <a href="#"><img src="../../assets/media/add_icon.png" width="20px" style="padding-bottom: 8px;"> New Form</a>
    <a href="#"><img src="../../assets/media/eye_icon.png" width="20px" style="padding-bottom: 4px;"> Visited</a>
    <a href="#"><img src="../../assets/media/star_icon.png" width="20px" style="padding-bottom: 5px;"> Saved</a>
    <a href="#" class="footer">
        <b>Resetear cuenta</b>
        <br>
        <img src="../../assets/media/restart_icon.png" width="20px" style="padding-bottom: 5px;">
    </a>
</div>

<div id="main">
    <button class="openbtn" (click)="openNav()"><img src="../../assets/media/logo.PNG" width="75px"></button>
</div>