.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
  }
  
  .sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: #bc45eb;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidebar .footer {
    position: absolute;
    color: white;
    bottom: 25px;
    font-size: 20px;
    margin-left: 18%;
  }
  
  .openbtn {
      background-color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  hr{
      border-color: white;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }